@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  background: url("../assets/bg.png");
  background-size: cover;
  background-color: #33283f;
  font-family: "Poppins", sans-serif;
}

#header {
  color: #e4e7eb;
}

#header p {
  font-size: 12px;
}

h1 {
  font-weight: 700;
  letter-spacing: 10px;
  text-shadow: 2px 7px 20px rgba(0, 0, 0, 0.3);
}

input {
  border: 0px;
  background-color: #616e7c;
  color: #f5f7fa;
}

input::placeholder {
  color: #9aa5b1;
}

input:focus {
  outline: none;
}

form {
  padding: 10px;
  background-color: #616e7c;
  border-radius: 10px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
  border: 1px;
  border-radius: 10px;
}

li {
  padding: 14px;
  background-color: #52606d;
  border: 1px;
  border-left: 0px;
  border-color: #d5d5d5;
  word-wrap: break-word;
  display: grid;
  grid-template-columns: 1fr 20px;
  grid-gap: 5px;
  margin-bottom: 5px;
  color: #e4e7eb;
  font-size: 15px;
  box-shadow: -8px 10px 5px -3px rgba(0, 0, 0, 0.09);
}

span.left {
  text-align: justify;
}

span.right {
  display: inline-flex;
  align-items: center;
}

.btn {
  color: #52606d;
  padding: 0px;
  margin-left: 50%;
}

li:hover .btn {
  color: #e53935;
}

#btn-add {
  color: #dadada;
  background-color: #616e7c;
  padding: 0px;
  border: 0px;
  margin-right: 5px;
}

#btn-add:hover {
  color: black;
}

.before {
  transform: scale(0);
  transition: 0.1s;
}

.animate-in {
  transform: scale(1);
  transition: 0.1s;
}
